day-selector-component {
	padding-inline: $gutter;
	padding-block-end: $gutter;

	.day-of-week {
		font-weight: bold;
	}
}


.step-actions {
	display: flex;
	justify-content: space-evenly;
	justify-items: center;
	flex-wrap: wrap;

	margin-block-start: $gutter;
}
