DATABASE_URL=

# Nx 18 enables using plugins to infer targets by default
# This is disabled for existing workspaces to maintain compatibility
# For more info, see: https://nx.dev/concepts/inferred-tasks
NX_ADD_PLUGINS=false

API_URL=
VITE_API_URL=$API_URL
VITE_PROJECT_NAME=Nutritious

QR_CODE_HASH=
VITE_QR_CODE_HASH=$QR_CODE_HASH
