.signup-credentials-wrap {
	.ant-statistic-content-value {
		word-break: break-all;
		line-height: 1.1;
		font-size: 20px;
	}
}


.ant-card.card-transparent {
	background-color: transparent;
	box-shadow: none;

	> .ant-card-body {
		padding: 0;
	}

	> .ant-card-actions {
		//background-color: transparent;
		//border: none;
		border-radius: 8px;
		margin-block-start: 10px;
	}
}


.ant-space-vertical.stretch {
	display: flex;
}

.dual-col-checkbox-group {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-auto-flow: column;

	> .ant-checkbox-wrapper {

	}
}


.ant-timeline {

	.leading-trail, .trailing-trail {
		.ant-timeline-item-head {
			display: none;
		}

		.ant-timeline-item-tail {
			inset-block-start: 0 !important;;
		}
	}

	.leading-trail {
		padding-block-end: 40px;

		.ant-timeline-item-tail {
			height: 100%;
		}
	}

	.trailing-trail {
	}

	.day-boundary {
		min-height: 40px;

		.ant-timeline-item-label,
		.ant-timeline-item-content {
			font-size: -1;
			color: #888;
		}
	}
}
