
ion-app.env-unknown {
	ion-toolbar {
		--ion-toolbar-color: white;
		--color: white;
		--background: blue;
		//--border-color: blue;
		//--border-width: 0 0 3px 0;
	}
}

ion-app.env-dev {
	ion-toolbar {
		--background: #a1ff00;
		//--border-color: #a1ff00;
		//--border-width: 3px 0;
	}
}

ion-app.env-staging {
	ion-toolbar {
		--border-color: #fe0095;
		--border-width: 3px 0;
	}
}


.nutri-main-menu {

	user-select: none;

	ion-content {
		height: auto;
		max-height: 400px;
	}

	.inner-scroll {
	}

	a {
		color: inherit;
		cursor: pointer;

		@include hover {
			color: color(accent) !important;
		}
	}

	::part(scroll) {
		display: flex;
		width: 100%;

		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: $gutter*2;
	}

	&::part(container) {
		max-height: 300px;
		margin-top: auto;
		margin-bottom: auto;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.version-number {
		--min-height: 0;
		--inner-padding-bottom: 0;
		--inner-padding-top: 20px;
		font-size: 10px;
		opacity: .5;
	}
}
